<header class="site-header">

  <div class="wrapper">

<table class="fvwm_header" cellpadding="0">
<tr>
  <td class="fvwm_top_left_border"></td>
  <td class="fvwm_top_border"></td>
  <td class="fvwm_top_right_border"></td>
</tr>
<tr>
  <td class="fvwm_left_border"></td>
  <td class="fvwm_window">
    <table border="0" cellpadding="0" width="100%" style="border-spacing: 0;">
    <tr>
      <td class="fvwm_button1"></td>
      <td class="fvwm_title">The Offical FVWM Home Page</td>
      <td class="fvwm_button4"></td>
      <td class="fvwm_button2"></td>
    </tr>
    </table>
    <div style="padding: 15px;">
      {% if page.title %}
        {{ page.title }}
      {% else %}
        FVWM - Home Page
      {% endif %}
    </div>
  </td>
  <td class="fvwm_right_border"></td>
</tr>
<tr>
  <td class="fvwm_bottom_left_border"></td>
  <td class="fvwm_bottom_border"></td>
  <td class="fvwm_bottom_right_border"></td>
</tr>
<tr>
</table>


  </div>

</header>


