<div class="window-inner">
  <div class="window-top"></div>
  <div class="window-bottom"></div>
  <div class="window-left"></div>
  <div class="window-right"></div>
  <div class="window-top-left"></div>
  <div class="window-bottom-left"></div>
  <div class="window-top-right"></div>
  <div class="window-bottom-right"></div>

  <div class="window-title-bar">
    <div class="window-button1 window-inner-button1" onClick="FvwmWindowShade(1, 'inner');"></div>
    <div class="window-title window-inner-title" id="window-inner-title-bar"></div>
    <div class="window-button2" onClick="FvwmWindowShade(0, 'inner');"></div>
  </div>

  <div class="window-inner-main" id="window-inner-main">
      <img style="margin: 7px;"
      src="{{ "/img/fvwm-logo-menu.png" | prepend: site.baseurl }}">

      <span class="window-inner-title" id="window-inner-title">{{ page.inner-title }}</span>
  </div>
</div>



