<ul class="fvwm_menu" id="fvwm_root_menu">
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="{{ "/" | prepend: site.baseurl }}">FVWM</a>
      <ul>
	<li><a class="fvwm_submenu" href="{{ "/news" | prepend: site.baseurl }}">News</a></li>
	<li><a class="fvwm_submenu" href="{{ "/features" | prepend: site.baseurl }}">Features</a></li>
        <li><a class="fvwm_submenu" href="{{ "/history" | prepend: site.baseurl }}">History</a></li>
        <li><a class="fvwm_submenu" href="{{ "/fvwm-logos" | prepend: site.baseurl }}">FVWM Logos</a></li>
        <li><a class="fvwm_submenu" href="{{ "/authors" | prepend: site.baseurl }}">Authors</a></li>
	<li><a class="fvwm_submenu" href="{{ "/fvwm-cats" | prepend: site.baseurl }}">Cats</a></li>
      </ul>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="{{ "/documentation" | prepend: site.baseurl }}">Documentation</a>
      <ul>
        <li><a class="fvwm_submenu" href="{{ "/documentation/faq" | prepend: site.baseurl }}">FAQ</a></li>
        <li><a class="fvwm_submenu" href="{{ "/documentation/manpages" | prepend: site.baseurl }}">Man Pages</a></li>
        <li><a class="fvwm_submenu" href="{{ "/Wiki" | prepend: site.baseurl }}">Wiki</a></li>
        <li><a class="fvwm_submenu" href="{{ "/documentation/developers" | prepend: site.baseurl }}">Developer Information</a></li>
        <li><a class="fvwm_submenu" href="{{ "/documentation/moduleinterface" | prepend: site.baseurl }}">Module Interface</a></li>
        <li><a class="fvwm_submenu" href="{{ "/documentation/vectors" | prepend: site.baseurl }}">Vector Button Viewer</a></li>
      </ul>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="{{ "/screenshots" | prepend: site.baseurl }}">Screenshots</a>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="{{ "/support" | prepend: site.baseurl }}">Support</a>
      <ul>
        <li><a class="fvwm_submenu" href="{{ "/support#lists" | prepend: site.baseurl }}">Mailing Lists</a></li>
        <li><a class="fvwm_submenu" href="{{ "/support#forums" | prepend: site.baseurl }}">FVWM Forums</a></li>
        <li><a class="fvwm_submenu" href="{{ "/support#irc" | prepend: site.baseurl }}">IRC</a></li>
      </ul>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="{{ "/stats/fvwm/index.html" | prepend: site.baseurl }}">Stats</a>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="{{ "/links" | prepend: site.baseurl }}">Links</a>
  </li>
</ul>
