<div class="wrapper">

<ul class="fvwm_menu">
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="{{ "/index.html" | prepend: site.baseurl }}">FVWM</a>
      <ul>
	<li><a class="fvwm_submenu" href="{{ "/features.html" | prepend: site.baseurl }}">Features</a></li>
        <li><a class="fvwm_submenu" href="{{ "/history.html" | prepend: site.baseurl }}">History</a></li>
        <li><a class="fvwm_submenu" href="{{ "/logos" | preprend: site.baseurl }}">FVWM Logos</a></li>
        <li><a class="fvwm_submenu" href="{{ "/authors" | prepend: site.baseurl }}">Authors</a></li>
	<li><a class="fvwm_submenu" href="{{ "/fvwm-cats" | prepend: site.baseurl }}">Cats</a></li>
      </ul>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="{{ "/documentation" | prepend: site.baseurl }}">Documentation</a>
      <ul>
        <li><a class="fvwm_submenu" href="{{ "/documentation/faq" | prepend: site.baseurl }}">FAQ</a></li>
        <li><a class="fvwm_submenu" href="{{ "/documentation/manpages" | prepend: site.baseurl }}">Man Pages</a></li>
        <li><a class="fvwm_submenu" href="{{ "/documentation/developers" | prepend: site.baseurl }}">Developer Information</a></li>
      </ul>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="#contact">Download</a>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="#contact">Screenshots</a>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="#contact">Support</a>
      <ul>
        <li>Mailing Lists</li>
        <li>IRC</li>
      </ul>
  </li>
  <li class="fvwm_menu">
    <a class="fvwm_menu" href="#contact">Links</a>
  </li>
</ul>

</div>

