h2.cats {
	text-decoration: underline;
	font-size: xx-large;
	color: #ffff33;
}

h3.cats {
	font-size: xx-large;
	color: #8888ff;
}

h4.cats {
	margin: 0pt;
	font-size: x-large;
	color: #ff3333;
}

h5.cats {
	font-size: large;
	font-weight: normal;
	color: #ffff99;
	margin: 0pt;
}

p.cats, h2.cats, h3.cats, h4.cats, h5.cats, ul.cats {
}


