// Cats
.cats h2, h3, h4, hr {
	clear: both;
}

.cats h2 {
        text-decoration: underline;
        font-size: xx-large;
        color: #ffff33;
}

.cats h3 {
        font-size: xx-large;
}

.cats h4 {
        margin: 0pt;
        font-size: x-large;
        color: #51b1fe;
}

.cats h5 {
        font-size: large;
        font-weight: normal;
        color: #ffff99;
        margin: 0pt;
}

.cats img {
	display: inline-block;
	float: left;
	padding: 5px 15px 10px 5px;
}

.cats strong {
	font-size: large;
	font-weight: bold;
	color: #ffff99;
	width: 100%;
}



// Authors Pictures
.authors_pic {
        display: block;
	margin: 0 auto;
        width: 620px;
}

.authors_pic div {
        display: inline-block;
        float: left;
        width: 200px;
        height: 200px;
        text-align: center;
}

// Screenshots
.scrot {
	display: inline-block;
	float: left;
	margin: 10px;
	padding: 5px;
	width: 180px;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #d9d915;
	border-radius: 15px;

	> a { text-decoration: none; }
	> a:hover { background: inherit; }
}

.scrot:hover { border-color: #f8f8b3; }

.scrot_desc {
	width: calc(100% - 230px);
	display: inline-block;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.scrot_page_links {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: 700;
	margin: 5px;
	> a, b {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
}

// Man Pages
.manpage-wrapper dt {
        color: #d9d915;
}
.manpage-warpper dd {
        padding-left: 35px;
}
.manpage-wrapper {
        font-size: 85%;
}
.manpage-index ul { 
	margin-bottom: 0px;
}

// Logos
.logo-wrapper a:hover {
	background: none;
}

.logo-wrapper span.place {
	font-size: 150%;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	width: 35px;
}
.logo-wrapper span.place:before {
	content: "#";
}

.logo-wrapper span.votes {
	font-size: 150%;
	color: #d9d915;
	display: inline-block;
	text-align: right;
	width: 35px;
}

.logo-wrapper span.overall {
	font-size: 80%;
	font-style: italic;
        display: inline-block;
        text-align: center;
        width: 35px;
	color: #f8f8b3;
}

// FAQ

// TOC category links
#markdown-toc {
	list-style-type: square;
	color: #d9d915;
	margin-left: 20px;
}
#markdown-toc li a {
	font-size: 22px;
	color: #41a1ee;
	&:hover {
		color: #003c3c;
	}
}

// TOC question links
#markdown-toc ul {
	list-style-type: disc;
        color: #41a1ee;
	margin-left: 20px;
}
#markdown-toc li li a {
	font-size: 16px;
	color: #d9d915;
	&:hover {
		color: #003c3c;
	}
}

// Question header
.faq h4 {
	font-size: 18px;
	color: #d9d915;
}

// Inline code
.faq code.highlighter-rouge {
	background-color: #eeeeee;
	border-color: #d9d915;
	border-width: 2px;
	color: #2d2d2d;
}

// Blocked code
.faq .highlight {
	margin-left: 55px;
	background-color: #eeeeee;
	color: #2d2d2d;
	border-color: #d9d915;
	border-width: 2px;
	border-radius: 7px;
	display: inline-block;
}

.faq p {
	margin-left: 25px;
}
.faq ul {
	margin-left: 45px;
}


// Vectors
#vector-wrapper {
	margin-left: 35px;
}

#vector-wrapper canvas {
	border: 3px solid #d9d915;
	background-color: white;
}

#result_src {
        margin-left: 55px;
        margin-top: 15px;
        background-color: #eeeeee;
        color: #2d2d2d;
        padding: 10px;
        display: inline-block;
}
