/**
 * Page Header
 */
#fvwm_title_window {
	margin-top: 17px;
}
#fvwm_root_menu {
	margin-top: 11px;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

