/**
 * Main Window Decor Styles
 */
.window {
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 35px;
	background-color: #003c3c;
	color: #ffffff;
	border: 0;
	padding: 0;
	width: 90%;
	min-height: 32px;
}
.window-max {
	width: 100%;
	margin: 0px;
}

.window-main {
	position: relative;
	margin: 0px 6px 0px 6px;
	padding: 0px;
	vertical-align: top;
	height: calc(100vh - 96px);		
	overflow: hidden;
}
.window-main-max {
	height: calc(100vh - 26px);
}
.window-main-content {
	margin: 0px;
	padding: 12px 12px 16px 12px;
	vertical-align: top;
	overflow-y: scroll;
	height: calc(100% - 66px);
}

.window-inner {
	position: relative;
	margin: 12px auto 12px auto;
	padding: 0px;
	vertical-align: top;
	overflow: hidden;
	width: 80%;
	float: center;
	min-height: 32px;
}
.window-inner-main {
	position: relative;
	margin: 0px 6px 0px 6px;
	padding: 0px;
	vertical-align: top;
	overflow: hidden;
}
span.window-inner-title {
	margin-top: 5px;
	margin-bottom: 25px;
	font-size: 32px;
	font-weight: 700;
	min-width: 250px;
}

.window-top {
	position: absolute;
	top: 0px;
	left: 6px;
	height: 6px;
	width: calc(100% - 12px);
	background-image: url("/img/header/top.gif");
	background-repeat: repeat-x;
	background-position: top;
}

.window-bottom {
	position: absolute;
	bottom: 0px;
	left: 6px;
	height: 6px;
	width: calc(100% - 12px);
	background-image: url("/img/header/bottom.gif");
	background-repeat: repeat-x;
	background-position: bottom;
}

.window-left {
	position: absolute;
	left: 0px;
	top: 6px;
	height: calc(100% - 12px);
	min-width: 6px;
        background-color: #36648b;
        background-image: url("/img/header/left.gif");
        background-repeat: repeat-y;
        background-position: top;
}

.window-right {
	position: absolute;
	right: 0px;
	top: 6px;
	height: calc(100% - 12px);
	min-width: 6px;
        background-color: #36648b;
        background-image: url("/img/header/right.gif");
        background-repeat: repeat-y;
        background-position: top;
}

.window-top-right {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 6px;
	min-width: 6px;
	max-width: 6px;
        background-color: #36648b;
        background-image: url("/img/header/top_right.gif");
        background-repeat: repeat-y;
        background-position: top;
}

.window-top-left {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 6px;
	min-width: 6px;
	max-width: 6px;
        background-color: #36648b;
        background-image: url("/img/header/top_left.gif");
        background-repeat: repeat-y;
        background-position: top;
}

.window-bottom-right {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 6px;
	min-width: 6px;
	max-width: 6px;
        background-color: #36648b;
        background-image: url("/img/header/bottom_right.gif");
        background-repeat: repeat-y;
        background-position: top;
}

.window-bottom-left {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 6px;
	min-width: 6px;
	max-width: 6px;
        background-color: #36648b;
        background-image: url("/img/header/bottom_left.gif");
        background-repeat: repeat-y;
        background-position: top;
}

.window-title-bar {
	position: relative;
	margin-right: 6px;
	margin-left: 6px;
	padding-top: 6px;
}

.window-title {
	margin-right: 40px;
	margin-left: 20px;
	text-align: center;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
        background-color: #1a6e99;
        background-image: url("/img/header/title.gif");
        background-repeat: repeat-x;
        background-position: top;
	height: 20px;
}
.window-inner-title {
	margin-right: 20px;
}
span.window-inner-title {
	margin-top: 5px;
	margin-bottom: 25px;
	font-size: 32px;
	font-weight: 700;
	min-width: 250px;
}



.window-button1 {
	position: absolute;
	top: 6px;
	left: 0px;
        background-color: #36648b;
        background-image: url("../img/header/button_1.gif");
        background-repeat: no-repeat;
        background-position: top;
        width: 20px;
	height: 20px;
	cursor: pointer;
}
.window-button1-alt {
	display: none;
	position: absolute;
	top: 6px;
	left: 0px;
        background-color: #36648b;
        background-image: url("../img/menu.png");
        background-repeat: no-repeat;
        background-position: top;
        width: 20px;
	height: 19px;
	cursor: pointer;
}
.window-inner-button1 {
	background-image: url("../img/header/button_4.gif");
}

.window-button2 {
	position: absolute;
	top: 6px;
	right: 0px;
        background-color: #36648b;
        background-image: url("../img/header/button_2.gif");
        background-repeat: no-repeat;
        background-position: top;
        width: 20px;
	height: 20px;
	cursor: pointer;
}

.window-button4 {
	position: absolute;
	top: 6px;
	right: 20px;
        background-color: #36648b;
        background-image: url("../img/header/button_4.gif");
        background-repeat: no-repeat;
        background-position: top;
        width: 20px;
	height: 20px;
	cursor: pointer;
}


#window-main-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #334c4c;
}

#window-main-content::-webkit-scrollbar
{
	width: 6px;
	background-color: #003c3c;
}

#window-main-content::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d9d915;
}


