// To change size at which it switches to mobile mode,
// you also have to change the @media query in _menu_styles.scss.
@media only screen and (max-width: 649px) {
	.window-menu {
		display: none;
		font-weight: 700;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: #003c3c;
		padding: 12px;
		border-width: 4px 4px 4px 4px;
		border: solid #1a6e99;

	}
	.window-menu-display {
		display: block;
	}

	.window {
		margin: 0px;
		width: 100%;
	}

	.window-main {
		height: calc(100vh - 26px);
	}

	.window-main-content {
		height: calc(100% - 34px);
	}
	.window-inner {
		display: none;
	}

	.menu-buttonX {
		display: inline-block;
		float: right;
		font-size: 18px;
		cursor: pointer;
	}

	.window-button1 {
		display: none;
	}
	.window-button1-alt {
		display: block;
	}
}


@media screen and (max-aspect-ratio: 1/1) {
	body {
		background-image: url("../img/fvwm-logo-gradient-rot.png");
		background-size: auto 80%;
	}
}
