<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    <div class="window" id="window">
    <div class="window-top"></div>
    <div class="window-bottom"></div>
    <div class="window-left"></div>
    <div class="window-right"></div>
    <div class="window-top-left"></div>
    <div class="window-bottom-left"></div>
    <div class="window-top-right"></div>
    <div class="window-bottom-right"></div>

    <div class="window-title-bar" id="window-title-bar">
      <div class="window-button1" onClick="FvwmWindowMaximize();"></div>
      <div class="window-button1-alt" onClick="FvwmToggleMenu();"></div>
      <div class="window-title">
          {% if page.title %}{{ page.title }}
          {% else %} The Official FVWM Home Page
          {% endif %}
      </div>
      <div class="window-button2" onClick="FvwmWindowShade(0, 'main');"></div>
      <div class="window-button4" onClick="FvwmWindowShade(1, 'main');"></div>
    </div>

    <div class="window-main" id="window-main">

      <div class="window-menu" id="window-menu">
        <div class="menu-buttonX">
          <a onClick="FvwmToggleMenu();">X</a>
        </div>
        {% include menu.html %}
      </div>

      <div class="window-main-content" id="window-main-content">


        {% if page.inner-title %}
          {% include inner_window.html %}
        {% endif %}

        {{ content }}

      </div>

    </div>

  <script type="text/javascript">FvwmStartFunction();</script>

  </body>
</html>
